/* PC */
@media (min-width: 1200px) and (max-width: 1919px) {
}

/* Notebook */
@media (min-width: 992px) and (max-width: 1119px) {
}

* {
    margin:0;
    padding:0;
    border:0;
    font-family:'Roboto', sans-serif;
}

/* Menu */
#menu {
    background-color: #de923e;
    color: white    ;
    margin-top: 0%;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

#menu li{
    list-style: none;
}

.li{
    display: inline;
    height: 50px;
    margin: auto;
    padding-right: 2%;
}

.li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    margin-top: 15px;
}

.li a:hover {
    color:#2F9687;
}

/* Conteúdo */
/*Página home*/

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#video-pitch{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#texto{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

#cta{
    margin-top: 20px;
}

#link{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Página Problema & solução */
.container-python{
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 5px;
    text-align: justify;
    font-size: 20px;
}

#titulo{
    color: #0b841c;
}

#paragrafo{
    margin-top: 15px;
}

#lista{
    margin-top: 10px;
    margin-left: 50px;
}

.container-calculo{
    display: grid;
    grid-template-areas: 
    "medicamentos sangue"
    "gastro gonorreia"
    "urinaria blank";
    justify-content: center;
}

.grafico {
    width: 450px;
    height: 300px;
}

#medicamentos{
    grid-area: medicamentos;
}

#sangue{
    grid-area: sangue;
}

#gastro{
    grid-area: gastro;
}

#gonorreia{
    grid-area: gonorreia;
}

#urinaria{
    grid-area: urinaria;
}

#blank{
    grid-area: blank;
}

/*Página Demonstração e Solução*/
.container-demonstracao-videos{
    display: grid;
    grid-template-areas: "python edge";
    margin-top: 30px;
    margin-left: 25px;
}

#python{
    grid-area: "python";
}

#edge{
    grid-area: "edge";
}

.container-demonstracao-texto{
    display: flex;
    justify-content: center;
}
#container-link-site{
    margin-top: 60px;
}

#video{
    margin-left: 50px;
    margin-top: 20px;
}

.container-links{
    margin-top: 50px;
    margin-left: 70px;
    display: grid;
    grid-template-areas: 
    "ge lt"
    "gp ghs";
}

.edge{
    grid-area: "ge";
}

.thinker{
    grid-area: "lt";
}

.python{
    grid-area: "gp";
    margin-top: 20px;
}

.hapvida{
    grid-area: "ghs";
    margin-top: 20px;
}

/* Formulário página contato */
.container-form {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: 3px solid #0b841c;
    background: #de923e;
    box-shadow: 2px 2px 2px #000;
    color: #fff;
    margin: 100px auto;
    text-align: center;
}

.button {
    margin-bottom: 20px;
    background: #0b841c;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.form-control {
    margin: 25px;
}

input {
    border-radius: 1px;
}

/* Tabela */
table, th, td {
    border: 1px solid #de923e;
    
}

.table {
    width: 100%;
}

#foto {
    width: 150px;
    height: 200px;
}

.error {
    color: red;
    padding: 5px;
}